@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
    font-family: 'Manrope', sans-serif;
	font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
:root {
    --backgroun-color-dark: #060453;
    --backgroun-color-primary: #230F9C;
    --main-button: #E04B4B;
    --background-secondary-dark: #E04B4B;
    --selecionado: #E0E0E0;
}
body{
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: 115px;
    background-color: var(--backgroun-color-dark);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header #main_logo{
    width: 100px;
}

.mobile{
    display: none;
}

.menu-screen{
    list-style: none;
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.item_menu{
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.text_menu{
    padding: 10px 18px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
}

.text_menu:hover{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 50px;
    background-color: var(--selecionado);
    color: #353535;
    transition: 0.5s;
}

.doacao{
    width: 110px;
    height: 60px;
    background-color: var(--background-secondary-dark);
}

.causa{
    width: 110px;
}

.selecionado{
    height: 50px;
    border-radius: 15px;
    padding: 10px 18px;
    background-color: var(--selecionado);
    color: #353535;  
}

footer{
    display: flex;
    flex-direction: column;
    background-color: var(--backgroun-color-primary);
    color: #DDD9D9;
}

.informacoes{
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;

    /* margin-bottom: 40px; */
}

.justificador{
    padding-left: 25px;
    margin-top: 20px;
}

.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
    
}

.copyright h3{
    font-size: 14px;
    text-align: center;
}


.strong{
    font-weight: 700;
}


main{
    background-image: linear-gradient( rgba(255,255,255,.8) 0%,rgba(255,255,255,.8) 100%),url("../img/logo_ana_cecilia_v5.png");
    background-repeat: repeat-y;
    background-position: center;
    background-position-y: top;
    background-size: 50%;
}

