@media (max-width:480px) {
    .normal_menu{
        display: none;
    }

    .mobile{
        display: flex;
        flex-direction: column;
        margin-top: 250px;
        position: relative;
        background-color: var(--backgroun-color-dark);
        border-radius: 15px;
    }

    .menu-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 30px;
        row-gap: 20px;

    }

    #icon_menu{
        width: 50px;
        width: 50px;
    }

    .icon{
        background-color: var(--backgroun-color-dark);
        
    }

    #menu-mobile-button{
        background-color: var(--backgroun-color-dark);
    }

}