@media (max-width:480px) {
    main{
        background-size: 100%;
    }

    

    .mapa{
        display: none;
    }

    .informacoes{
        height: 250px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .mensagem {
       max-width: 20px;
    }
}