main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 80px 20px 80px;
    text-align: justify;
    row-gap: 50px;
}

.news {
    display: flex;
    column-gap: 20px;
    background-color: #b4b4b499;
    padding: 20px 10px;
    border-radius: 15px;
    color: #333;
}

.news:hover {
    background-color: #b4b4b4cc;
    cursor: pointer;
    color: #111;
}

.news>img {
    max-width: 280px;
    height: 100%;
    border-radius: 8px;
    border: solid 1px #8d8d8d;
}

.texts {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.text {
    font-size: 1.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

hr {
    width: 100%;
    border: solid 0.5px #c4c4c4;
}

@media (max-width:480px) {
    .news {
        width: 80vw;
        flex-direction: column;
        background-color: #b4b4b4cc;
        cursor: pointer;
        color: #111;
    }
}